body {
    background-image: url("./cyber-security--web-security--network-security--with-digital-padlock.jpg");
    color:aliceblue;
    text-align: center;

}

.scbutton:active {
    background-color:aliceblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
