body {
    background-image: url("./cyber-security--web-security--network-security--with-digital-padlock.jpg");
    color:aliceblue

}

.scbutton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
